* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: #222; 
  background-color: #f9f9f9; 
}


header {
  background-color: #111; 
  padding: 20px;
  color: #fff; 
}

nav {
  display: flex;              
  justify-content: space-between; 
  align-items: center;        
  gap: 15px;                 
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}
